html, p, h1, h2, h3, section, a, button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

#image-container-home {
    padding-right: 10px;
}
#banner-home-img {
    border-radius: 50% !important;
    background-image: linear-gradient(135deg, var(--primary-color), var(--bg-0)) !important;
    padding: 5px;
}

.section-content p {
    font-size: 14pt;
    line-height: 1.5;
}

.name-list + ul > li::marker {
    content: '# ';
    color: color-mix(in hsl, var(--text-color), black 30%);
    font-weight: 400;

}

.name-list + ul li {
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color;

    &:hover {
        transform: scale(105%);
        color: var(--primary-color);
    }
}
